# Project exclude paths
/.gradle/
/behavioral-design-patterns/build/
/behavioral-design-patterns/build/classes/java/main/
/behavioral-design-patterns/build/classes/java/test/
/creational-design-patterns/build/
/creational-design-patterns/build/classes/java/main/
/creational-design-patterns/build/classes/java/test/
/structural-design-patterns/build/
/structural-design-patterns/build/classes/java/main/
/structural-design-patterns/build/classes/java/test/